<template>
    <div>
        <iframe height="100%" width="100%" :src="this.getFilePath()"></iframe>
    </div>
</template>
    
<script>
export default {
    name: 'PDFJSViewer',
    props: ['getFilePath'],
    
}
</script>
<style scoped>
div {
    width: 50%;
    height: 79vh;
    padding: 5% 25%
}
</style>