<template>
  <div id="app">
    <PDFJSViewer :path="this.path" :url="this.url" :getFilePath="this.getFilePath" />
  
  </div>
</template>

<script>
import PDFJSViewer from './components/PDFJSViewer'

let url= 'https://cdn.filestackcontent.com/5qOCEpKzQldoRsVatUPS#view=fitH' //change which pdf file loads
let path = 'lib/pdfjs-3.0.279-dist/web/viewer.html' //path of the PDF.js viewer.html,

export default {
  name: 'App',
  components: {
    PDFJSViewer
  },
  methods: {
    getFilePath: () => {
      if (url !== '') {
        return path + '?file=' + url
      }
      return path
    }

  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
